@media (max-width: 1399px) {

    :root {
        --width-container: 1140px;
    }

    .main-home__row {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        row-gap: 4rem;
    }

    .main-home__title {
        margin-top: 24rem;
        position: relative;
        top: unset;
        left: unset;
        text-align: center;
        order: 1;
        transform: none;
    }

    .main-terms {
        order: 2;
        max-width: 100%;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .contact-form__title {
        padding-bottom: 2rem;
    }

} /* 1399px */

@media (max-width: 1199px) {

    :root {
        --width-container: 960px;
    }

    .header-menu {
        column-gap: 3rem;
    }

    .main-home {
        background: url('../img/bg-first-screen.jpg') no-repeat right top / cover fixed;
        background: url('../img/bg-first-screen.webp') no-repeat right top / cover fixed;
    }

    .cats-group {
        column-gap: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .product-group {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .meditation-article {
        flex-flow: column nowrap;
    }

    .footer-row {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 4rem;
    }

    .footer-row .col:nth-child(1) {
        order: 1;
    }

    .footer-row .col:nth-child(4) {
        order: 2;
    }

    .footer-row .col:nth-child(2) {
        order: 3;
    }

    .footer-row .col:nth-child(3) {
        order: 4;
    }

    .contact-row {
        flex-flow: column nowrap;
    }

    .shop-filters {
        align-items: flex-start;
    }

    .shop-filters__group {
        padding: 0;
        border: none;
    }

} /* 1199px */

@media (max-width: 991px) {

    :root {
        --width-container: 720px;
    }

    html {
        font-size: 60%;
    }

    .main-terms {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .header-socials {
        display: none;
    }

    .header-menu {
        position: absolute;
        padding: 1rem 15px;
        top: calc(100%);
        left: 50%;
        width: var(--width-container);
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        color: var(--color-text);
        justify-content: flex-end;
        font-weight: 700;
        box-shadow: var(--shadow-product);
        pointer-events: all;
        opacity: 0;
        transition: opacity 200ms ease;
    }

    .header-menu.active {
        pointer-events: all;
        opacity: 1;
    }

    .header-menu::before,
    .header-menu::after {
        content: '';
        position: absolute;
        display: block;
        background-color: inherit;
        top: 0;
        bottom: 0;
    }

    .header-menu::before {
        left: -9999px;
        right: calc(100%);
    }

    .header-menu::after {
        right: -9999px;
        left: calc(100%);
    }

    .mobile-menu-btn {
        display: block;
        color: #fff;
        text-transform: uppercase;
        padding-right: 0;
    }

    .designers-group {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .bestsellers-item__title {
        font-size: 3rem;
    }

    .about-row {
        padding-top: 6rem;
        flex-flow: column nowrap;
        row-gap: 4rem;
    }

    .about .section-header {
        position: static;
    }

    .about .section-header span:first-child,
    .about .section-header span:last-child {
        position: static;
    }

    .about-bg::after {
        content: none;
    }

    .about-text {
        padding: 0;
        align-self: unset;
    }

    .about-bg {
        flex: 0 0 auto;
    }

    .about-bg img {
        position: static;
        height: auto;
        width: 100%;
    }

    .about-content__text {
        column-count: 1;
    }

    .about-content__text > * + * {
        margin-top: 1em;
    }

    .production-row {
        flex-flow: column nowrap;
    }

    .production-header__title span:first-child,
    .production-header__title span:last-child,
    .production-header__title {
        position: static;
        transform: none;
        font-size: inherit;
        margin: 0;
    }

    .production-header {
        padding-bottom: 3.5rem;
        font-size: 4.2rem;
    }

    .product-row {
        gap: 2rem;
    }

    .product__galleries {
        gap: 1.5rem;
    }

    .related-slider .product-group__item {
        width: 50%;
    }

} /* 991px */

@media (max-width: 767px) {

    :root {
        --width-container: 540px;
    }

    html {
        font-size: 58%;
    }

    .header-logo {
        max-width: 7rem;
    }

    .product-item__price {
        font-size: 1.6rem;
    }

    .meditation-article__content {
        padding: 5rem 4rem;
    }

    .footer-row {
        text-align: center;
        justify-items: center;
        grid-template-columns: minmax(0, 1fr);
    }

    .footer-form__title {
        font-size: 1.8rem;
    }

    .footer-form {
        transform: none;
    }

    .meditation-article__thumb {
        min-height: unset;
    }

    .footer-payments {
        justify-content: center;
    }

    .footer {
        padding-top: 7rem;
    }

    .footer-row {
        gap: 3.5rem;
    }

    [data-title]::before {
        content: none;
    }

    .product-row {
        flex-flow: column nowrap;
    }

    .shop-filters {
        position: relative;
    }

    .shop-filters-mobile_btn {
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: var(--color-secondary);
        padding: 0 1.5rem;
        height: 4.2rem;
        line-height: 4.2rem;
        box-shadow: var(--shadow-product);
        font-weight: 700;
        column-gap: 0.8rem;
        z-index: 2;
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.05);
    }

    .shop-filters-mobile_btn img {
        height: 1.5rem;
    }

    .shop-filters__group {
        position: absolute;
        top: 5rem;
        flex-flow: column nowrap;
        z-index: 2;
        max-width: calc(100vw - 30px);
        display: none;
    }

    .shop-filters__group > * + * {
        margin-top: 1rem;
    }

    .shop-filters-wrapper {
        position: relative;
        z-index: 3;
    }

    .shop-filters-wrapper::before {
        content: '';
        display: block;
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        background-color: rgba(0, 0, 0, 0.6);
        pointer-events: none;
        opacity: 0;
        transition: opacity 200ms ease;
    }

    .shop-filters-wrapper.active::before {
        opacity: 1;
        pointer-events: all;
    }

} /* 767px */

@media (max-width: 575px) {

    :root {
        --width-container: 100%;
        --gap-content: 8rem;
    }

    .header-controls__link {
        padding: 0.7rem;
    }

    .header-link__img {
        width: 2rem;
        height: 2rem;
    }

    .header-menu {
        padding: 2rem 0;
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 1.5rem;
    }

    .section-header {
        padding-bottom: 2.8rem;
    }

    .main-home__title {
        margin-top: 5rem;
    }

    .main-home__title span {
        font-size: 12rem;
    }

    .main-home__title strong {
        font-size: 7rem;
    }

    .production-header,
    .section-header__title {
        font-size: 3rem;
    }

    .designers-group {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cats-item__title {
        font-size: 1.4rem;
    }

    .btn {
        padding: 0 1rem;
        font-size: 1rem;
        height: 4.2rem;
        line-height: calc(4.2rem - 4px);
    }

    .product-group {
        row-gap: 3rem;
    }

    .product-item__brand {
        font-size: 1.4rem;
    }

    .product-item__content {
        flex-flow: column nowrap;
        gap: 0.5rem;
    }

    .product-item__price {
        font-size: 1.3rem;
        order: 1;
    }

    .product-item__title {
        order: 2;
        font-size: 1.3rem;
    }

    .bestsellers-item__title {
        font-size: 2rem;
    }

    .btn_bestsellers {
        width: 2rem;
        height: 2rem;
    }

    .bestsellers-item__title button {
        text-align: left;
    }

    .meditation-article__content {
        padding: 4rem 1.5rem;
        font-size: 1.4rem;
    }

    .meditation-article__content h2 {
        font-size: 2.2rem;
    }

    .contact-form__input, .footer-form__input {
        height: 3.6rem;
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .footer-row {
        font-size: 1.4rem;
    }

    .footer-form {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .form-search__input {
        padding: 0 1rem;
        font-size: 1.2rem;
    }

    .about .section-header__title {
        font-size: 7rem;
    }

    .about-row {
        row-gap: 2rem;
    }

    .about-text__subtitle {
        margin-top: 2rem;
    }

    .about-text__title {
        font-size: 3.8rem;
    }

    .contact-form {
        padding-left: 15px;
        padding-right: 15px;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: unset;
    }

    .btn,
    .contact-form__input, .footer-form__input {
        height: 4.2rem;

    }

    [data-title]::before {
        content: none;
    }

    .flickity-prev-next-button {
        width: 24px;
        height: 24px;
    }

    .breadcrumbs {
        font-size: 1.3rem;
    }

} /* 575px */
