.designers {
    margin-top: calc(var(--gap-content) * (-1));
    padding-top: var(--gap-content);
}

.designers-group {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    list-style: none;
    gap: 1rem;
}

.designers-group__item {
    border-radius: 1rem;
    overflow: hidden;
}

.designers-item__link {
    display: block;
    height: 0;
    position: relative;
    padding-top: 80%;
}

.designers-item__link img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.designer-item__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-invert);
    font-weight: 400;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: var(--transition);
}

.designers-item__link.focus-visible:focus .designer-item__title,
.designer-item__title:hover {
    opacity: 1;
}

.cats-group {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4.2rem;
    list-style: none;
}

.designers-group + .cats-group {
    margin-top: 12rem;
}

.cats-item:nth-child(even) {
    transform: translateY(-4rem);
}

.cats-item .thumb {
    position: relative;
    height: 0;
    padding-top: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.cats-item .thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cats-item__content {
    position: relative;
    text-align: center;
}

.cats-item__content::before {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: -7rem;
    bottom: 2.8rem;
    background-color: #f6ecea;
    opacity: 0.5;
    z-index: -1;
    border-radius: var(--border-radius);
}

.cats-item__title {
    margin-top: 0.8em;
    font-size: 2rem;
    font-weight: 400;
}

.cats-item__link {
    margin-top: 0.8em;
}
