:root {
    --width-container: 1320px;
    --color-primary: #712221;
    --color-text: #161616;
    --color-text-invert: #fff;
    --color-bg: #fbf7f7;
    --transition: width 250ms ease, opacity 250ms ease;
    --shadow: 0.2rem 0.3rem 7rem 0 rgba(113, 34, 33, 0.16);
    --shadow-product: 0 0.4rem 2.5rem 0.2rem rgba(0, 0, 0, 0.05);
    --border-radius: 1rem;
    --border: 2px solid #dddbdb;
}
